/* CSS variables */
:root {
  --color-yellow-meli: #FFE600;
}

/* Box sizing rules */
/* Hace que el padding y border no aumenten el tamaño total de los elemmentos. Mejora control del layout */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
/*Elimina márgenes por defecto que pueden generar espacios inesperados*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role */
/*Eliomina estilos de listas, para personalizar desde cero.*/
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
/*Establece un tamaño mínimo para el body, mejora la legibilidad y mejora el renderizado*/
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
/*Elimina subrayado de enlaces sin clase, mejora la legibilidad*/
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/*Ajusta el tamaño de las imágenes para que se adapten al contenedor*/
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for form elements */
/*Asegura que los elementos de formulario hereden la fuente del body*/
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations for users who prefer reduced motion */
/*Elimina animaciones para usuarios que prefieren menos movimiento*/
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}