.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 380px;
    position: relative;
}

.label {
    position: absolute;
    top: 10px;
    left: 8px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    padding: 0px 8px;
    border-radius: 8px;
}

.focused {
    animation: slide-up 0.3s ease-in-out forwards;
}

.not-focused {
    animation: slide-down 0.3s ease-in-out forwards;
}

.input {
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    padding: 8px;
    height: 40px;
}

.input:focus {
    outline: none;
}

@keyframes slide-down {
    from {
        top: -20px;
        left: -4px;
    }
    to {
        top: 10px;
        left: 0px;
        font-size: 14px;
    }
}

@keyframes slide-up {
    from {
        top: 10px;
        left: 0px;
        font-size: 14px;
    }
    to {
        top: -20px;
        left: -4px;
        font-size: 12px;
    }
}